<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul id="task-list<%=category.id%>">
      <% category.tasks.each_with_index do |task,index|  %>
      <li id ="task<%=task.id%>">
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>&nbsp;	&nbsp;	
          <%= check_box_tag "box", 1, task.status, data: { remote: true, url: task_path(task), params: { status: !task.status}.to_param, method: "put" }, id: "box_#{task.id}"%>
          <%=link_to '<i class="fas fa-trash-alt"></i>'.html_safe, task_path(task), method: :delete, remote: true, data: { confirm: "Êtes-vous sûr ?" }%>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each_with_index do |task,index|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

