<div id = "elm<%=email.id%>">
<hr><b>Objet: <%= @email.object %></b></br>
Contenu: <%= @email.body %></br>
<%=link_to 'Supprimer'.html_safe, email_path(@email.id), method: :delete, remote: true, data: { confirm: "Êtes-vous sûr ?" }%>
<%=link_to 'Non lu'.html_safe, email_path(@email.id), method: :put, remote: true %>
</div>